template(name='AddList')
	.add-list
		form.form-inline
			.form-group
				label(for='listName') Create a List
				input.form-control.input-sm(type='text' placeholder='List name here...' name='listName' id='listName')
