template(name='AddTodo')
	.add-todo
		form.form-inline
			.form-group
				label(for='todoName') Create a task
				input.form-control.input-sm(type='text' placeholder='Type a task here...' name='todoName' id='todoName')
